
<ul>
  <% @user.errors.full_messages.each do |err_msg| %>
    <li><%= err_msg %></li>
  <% end %>
</ul>

<div class="session-form">
  <h1>Join Fake Twitter today.</h1>

  <form action="/users" method="POST">
    <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <input
    type="text"
    placeholder="Username"
    name="user[username]"
    id="user_username"
    value="<%= @user.username %>">

    <input type="password" name="user[password]" id="user_password" placeholder="Password">

    <button type="submit">Sign up</button>
  </form>
</div>
